@mixin make-container($padding-x: $container-padding-x) {
  max-width: 720px;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.custom-container {
  @include make-container(10px);
}
