<div class="custom-container mt-1">
  <h1 class="text-center">Transactions List</h1>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <nav
    class="container border rounded-top navbar navbar-expand navbar-light bg-light"
  >
    <ul ngbNav #nav="ngbNav" class="navbar-nav mx-auto">
      <li ngbNavItem class="nav-item">
        <a ngbNavLink class="nav-link" routerLink="/" routerLinkActive="active"
          >Summary</a
        >
      </li>
      <li ngbNavItem class="nav-item">
        <a
          ngbNavLink
          class="nav-link"
          routerLink="/navigator"
          routerLinkActive="active"
          >List</a
        >
      </li>
    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>
